.ratingselect
  .rating-type
    padding: 18px 0px
    margin: 0 18px
    border-1px(rgba(7, 17, 27, 0.1))
    font-size: 0
    .block
      display: inline-block
      padding: 8px 12px
      margin-right: 8px
      line-height: 16px
      border-radius: 1px
      color: rgb(77, 85, 93)
      font-size: 12px
      &.active
        color: #fff
      &.positive
      background: rgba(0, 160, 220, 0.2)
      &.negative
      background: rgba(77, 85, 93, 0.2)
      .counter
        margin-left: 2px
        font-size: 8px
